#team-member {
    width: 1200px;
    left: 156px;
    position: relative;
    .year-selector {
        display: flex;
        align-items: center;
        gap: 2em;
        div {
            position: relative;
            width: 184px;
            height: 56px;
            left: 11px;
            border: 2px solid #4386f5;
            border-radius: 42px;
            transition: background-color 0.5s, color 0.5s;
            cursor: pointer;
            color: #4386f5;
            font-family: Jost;
            font-size: 24px;
            font-weight: 500;
            line-height: 56px;
            letter-spacing: 0.01em;
            text-align: center;
        }
        div[data-selected="true"] {
            color: #fff;
            background-color: #4386f5;
        }
    }
    h2 {
        width: 146px;
        height: 52px;
        left: 11px;
        position: relative;
        color: #1a1a1c;
        font-size: 36px;
    }
    .members {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5em;

        .member-card-0,
        .member-card-1,
        .member-card-2 {
            width: 581px;
            height: 304px;
            left: 11px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px #00000040;

            .member-photo {
                width: 199px;
                height: 207px;
            }
            .member-data {
                width: 266px;
                height: 213px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    margin: 0px;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    line-height: 23px;
                    text-align: left;
                }
                #member-name {
                    width: 298px;
                    height: 35px;
                    font-size: 24px;
                    line-height: 35px;
                }
                #member-job-title {
                    width: 298px;
                    height: 23px;
                }
                #member-department {
                    width: 298px;
                    height: 23px;
                }
                #member-introduction {
                    width: 255px;
                    height: 46px;
                    color: #5f6367;
                    font-weight: 400;
                    overflow-y: auto;
                }
                #icon {
                    display: flex;
                    gap: 24px;
                    .icon {
                        width: 30px;
                        height: 30px;
                    }
                }
                a[href=""] {
                    display: none;
                }
            }
        }
        .member-card-0 {
            border-bottom: 5px solid #ea4336;
            #member-job-title {
                color: #ea4336;
            }
        }
        .member-card-0:hover {
            border: 5px solid #ea4336;
            transition: border 0.5s;
        }
        .member-card-1 {
            border-bottom: 5px solid #34a852;
            #member-job-title {
                color: #34a852;
            }
        }
        .member-card-1:hover {
            border: 5px solid #34a852;
            transition: border 0.5s;
        }
        .member-card-2 {
            border-bottom: 5px solid #faab00;
            #member-job-title {
                color: #faab00;
            }
        }
        .member-card-2:hover {
            border: 5px solid #faab00;
            transition: border 0.5s;
        }
    }
}
