#navigateBar {
    height: 6.25rem;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.95rem 0;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    img {
        width: 40%;
        // height: 80%;
        margin-right: auto;
        object-fit: contain;
        object-position: center;
    }
    a {
        padding-left: 0.5em;
        outline: none;
        text-decoration: none;
        color: inherit;
    }
    a:visited {
        color: inherit
    }
    .toggleMenu:last-child {
        min-width: calc(17em - 5vw);
    }
}