#home{
  max-width: min(90vw, 1200px);
  width: 70rem;
  margin: auto;

}

.hometitle {
    width: 70%;
    background-color: #fff;
}


.card1{
   display: flex;
   flex-direction: row;
   overflow: hidden;
   margin-top: 10%;
   margin-bottom: 10%;
   align-items: center;
}

.card2{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 0%;
  align-items: center;
}

.right{
    width: 25%;
    height: 550px;
    background-color: #fff;
  }

.ytvideo {
    position: relative;
    width: 560px; 
    height: 315px; 
    margin-top: 60%; 
    margin-left: 40%;
  }
  
  .mleft h5, .mleft h6, .mleft p, .mleft a {
    margin-bottom: 0.5em; 
  }
  

.imgright{
    width: 25%;
    height: 650px;
    background-color: #fff;
    margin-left: 5%;
    margin-top: 30%;
  }

.imgmiddle{
    width: 25%;
    height: 650px;
    background-color: #fff;
    margin-left: 5%;
    margin-top: 15%;
  }


.left{
    width: 45%;
    height: 550px;
    box-sizing: border-box;
    background-color: #fff;
  }

.mleft{
    width: 40%;
    height: 780px;
    background-color: #fff;
    line-height: 1;
  }


p{
  font-size: large;
}

.button-container {
  margin-top: 30px;
}

.buttonla{
  display: flex;
  width: 100px;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  gap: 0.2em;
  height: 2.5rem;
  padding: 0 1.5em;
  background-color: #fff; 
  border: 2px solid #0056b3; 
  border-radius: 20px;
  color: #007BFF; 
  text-decoration: none;
}
.ms {
  padding-top: 0.2em;
  font-size: 1.15em;
}

.logocard{
  display: flex;
  overflow: hidden;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%; 
  height: auto; 
}


.flowtext{
  height: 700px;
  position:relative;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  font-weight: bolder;
  color: #333;
  max-width: 600px;
  white-space: nowrap;
}

.floating-text {
  position: absolute;
  font-size: 30px;
  font-weight: normal;
  animation: floatText 4s infinite ease-in-out;
}

.text1 { bottom: 60%; left: 20%; animation-delay: 0.5s; color: #12ab33;}
.text2 { top: 30%; left: 55%; animation-delay: 1s; color: #ee00ff;}
.text3 { top: 60%; left: 50%; animation-delay: 1.5s; color: #ff0000; }
.text4 { bottom: 20%; left: 65%; animation-delay: 2s; color: #05750f8a;}
.text5 { top: 70%; left: 30%; animation-delay: 2.5s; color: #f7bb07;}
.text6 { bottom: 32%; left: 20%; animation-delay: 3s; color: #14cbd8;}

@keyframes floatText {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .card1 , .card2{
    flex-direction: column;
    align-items: center;
  }
 
  .card1 img{
    display:none;
  }

  .right, .imgright, .imgmiddle {
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
  }

  .left{
    height: 500px;
  }

  .imgmiddle{
    margin-top: 10%;
    height: 150px;
    flex-direction: row;
    margin-left: 0%;
  }

  .imgright{
    height: 200px;
    padding-right: 50px;
    flex-direction: row;
    margin-bottom: 10%;
  }

  .imgmiddle img{
    width: 50%;
  }

  .imgright img{
    width: 60%;
    margin-left: 20%;
  }

  .ytvideo {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10%;
    width: 100%;
    height: calc((min(90vw, 1200px, 70rem))/1.5);
  }

  .hometitle {
    width: 100%;
  }
  .hometitle h3{
    font-size: x-large;
  }
  .left h5{
    font-size: larger;
  }

  .bold {
    max-width: 100%;
  }
  .homeRecentEvent h5{
    font-size: larger;
  }

  p{
    font-size: small;
  }

  .left{
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
  }

  .mleft{
    width: 100%;
    height: 100%;
  }

  .mleft h5{
    font-size: larger;
  }
  .mleft h6{
    font-size: medium;
  }

  .right{
    height: 95%;
    margin-bottom: 5%;
  }

  .buttonla{
    width: 80px;
    font-size: small;
    gap: 0.2em;
    height: 2rem;
    padding: 0 1em;
  }

  .main-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  
  .floating-text {
    font-size: 14px;
  }
  .text1 { bottom: 85%; left: 10%; }
  .text2 { top: 20%; left: 55%;}
  .text3 { top: 60%; left: 40%;  }
  .text4 { bottom: 30%; left: 85%;}
  .text5 { top: 70%; left: 20%;}
  .text6 { bottom: 35%; left: 5%;  }

  .flowtext{
    margin-top: 20%;
    margin-bottom: 10%;
    height: 200px;
  }

  .logocard{
    margin-top: 20%;
  }
  
  .logo img {
    width: 50%; 
    height: auto; 
    margin-left: 25%;

  }
  
}
