#recent-event {
    .recent-event-block {
        height: 327px;
        width: 1081px;
        background-color: #ffffff;
        // display: flex;
        align-content: center;
        flex-direction: row;
    }
    .join {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-align: center;
        width: 136px;
        height: 55px;
        top: 410px;
        left: 534.5px;
        background-color: #4386F5;
        color : #ffffff; 
        border-radius: 8px; 
        border:0;
    }
    .addtocalendar {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-align: center;
        width: 136px;
        height: 55px;
        top: 410px;
        left: 534.5px;
        background-color: #ffffff;
        border-color: #4386f5;
        color: #4386f5;
        border: 2px solid #4386f5;
        border-radius: 8px;
        margin-left: 25px;
        margin-top: 55px;
    }

    .tag {
        font-family: Noto Sans TC;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.1em;

        width: auto;
        height: 31px;
        border-radius: 42px;
        border: 2px solid #676c72;
        margin-top: 0;
        margin-right: 20px;
        
        display: inline-block;
        padding-top: 8px;
        padding-left: 30px;
        padding-right: 30px;
        vertical-align: baseline;
    }
    .tag-block{
        margin-top: 0;
        padding-top: 0;
        padding-left: 28%;
    }

    .topic {
        width: 624px;
        height: 35px;
        top: 189px;
        left: 369.5px;
        font-family: Noto Sans TC;
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0.1em;
        text-align: left;
        color: #242323;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .time {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-align: left;
        color: #2f2f2f;
        margin-top: 0;
        margin-bottom: 0;
    }

    .location {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-align: left;
        color: #2f2f2f;
        margin-top: 0;
        margin-bottom: 0;
    }

    .introduction {
        width: 771px;
        height: 78px;
        top: 293px;
        left: 369.5px;
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 350;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-align: left;
        color: #5f6367;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .avatar {
        width: 220px;
        height: 221px;
        top: 165px;
        left: 59.5px;
        border-radius: 110px;
        position: relative;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
    }
    .avatar-block {
        display: inline-block;
    }

    .string-content-block {
        display: flex;
        flex-direction: column;
        padding-left: 80px;
        padding-top: 10px;
    }
    .content-block {
        display: flex;
        flex-direction: row;
    }

    @media screen and (max-width:360px) {
        .recent-event-block {
            width: 351px; 
            display: flex;
            align-content: center;
            flex-direction: column;
        }
        .join {
            font-family: Noto Sans TC;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-align: center;

            width: 90.87px;
            height: 30px;
            left: 28px;

            background-color: #4386F5;
            color : #ffffff; 
            border-radius: 8px; 
            border:0;
        }
        .addtocalendar {
            font-family: Noto Sans TC;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-align: center;

            width: 107px;
            height: 30px;
            left: 133px;

            background-color: #ffffff;
            border-color: #4386f5;
            color: #4386f5;
            border: 2px solid #4386f5;
            border-radius: 8px;
            margin-top: 0;
            margin-left: 25px;
        }
    
        .tag {
            font-family: Noto Sans TC;
            font-size: 10px;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-align: center;


            height: 20px;
            width: auto;
            border-radius: 42px;
            border: 2px solid #676c72;
            margin-top: 0;
            margin-right: 20px;
            
            display: inline-block;
            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: baseline;
        }
        .tag-block{
            margin-top: 0;
            padding-top: 0;
            padding-left: 7%;
        }
        .topic {
            width: 300px;
            height: 58px;
            top: 1210px;
            left: 27.5px;

            font-family: Noto Sans TC;
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: 0.1em;
            text-align: left;

            color: #242323;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .time {
            width: 301px;
            height: auto;
            top: 1276px;
            left: 27.5px;

            font-family: Noto Sans TC;
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-align: left;

            color: #2f2f2f;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .location {
            width: 301px;
            height: auto;
            top: 1298px;
            left: 27.5px;

            font-family: Noto Sans TC;
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-align: left;

            color: #2f2f2f;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 15px;
        }
    
        .introduction {
            display: none;
        }

        .avatar {
            width: 100px;
            height: 100px;
            top: 1095px;
            left: 22.75px;
            border-radius: 110px;

            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0%, 0%);
        }
        .avatar-block {
            display: inline-block;
            padding-top: 10px;
        }
        .string-content-block {
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            padding-left: 0;
        }
        .content-block {
            display: flex;
            flex-direction: column;
            padding-left: 7%;
        }
    }

}