#aboutBot {
    display: flex;
    flex-direction: column;
    --margin: calc((100vw - min(90vw, 1200px)) / 2);
    width: calc(100vw - 2 * var(--margin));
    margin: 4.7rem var(--margin);
    margin-top: 0%;
    margin-bottom: 0%;

    img {
        width: 1200px;
        height: 448px;
        max-width:100%
     } 
    .classtitle {
        text-align: left;
        font-weight: 700;
        font-size: 32px;
        color: #1A1A1C;
        line-height: 46.34px;
      }
    .Lead  {
        color: #EA4336;
    }
    .Core {
        color: #34A852;
    }
    .Team {
        color: #FAAB00;
    }
    .content {
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        color: #1A1A1C;
        line-height: 28.96px;
        margin-top: 2%;
        margin-bottom: 3%;
      }
    li {
        list-style-type: disc;
    }
    a {
        color:#4386F5;
        text-decoration-line: underline;
        cursor: pointer;
    }
  }

@media (max-aspect-ratio: 1/1) {
    #aboutBot {
        .classtitle{
            font-size: medium;
        }


        img {
            width: 100%;
            height: 80%;
         };
         .title {
            font-size: 14px;
            line-height: 20.72px;
         };
         .content {
            font-size: 13px;
            line-height: 14.48px;
         };
         }
    }


