#projects {
    max-width: min(90vw, 1200px);
    width: 70rem;
    margin: auto;
    .selector {
        display: flex;
        align-items: center;
        gap: 3vw;
        div {
            width: min(25vw, 11.5rem);
            height: min(8vw, 3.5rem);
            border: 2px solid #4386f5;
            border-radius: 42px;
            transition: background-color 0.5s, color 0.5s;
            cursor: pointer;
            color: #4386f5;
            font-family: Jost;
            font-size: min(3.5vw, 1.5rem);
            font-weight: 500;
            line-height: min(8vw, 3.5rem);
            text-align: center;
        }
        div[data-selected="true"] {
            color: #fff;
            background-color: #4386f5;
        }
    }
    .banner {
        position: relative;
        min-height: calc((min(60vw, 1200px, 70rem)) / 3);
        margin: 3.4rem 0;
        padding: 2rem;
        color: #FFF;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
            border-radius: 1.25rem;
            border-bottom: 5px solid #4386F5;
            z-index: -1;
        }
        .context {
            position: absolute;
            bottom: 2rem;
            // left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 0.5rem;
            width: 100%;
            h5 {
                margin: 0;
            }
            div {
                width: 55%;
            }
        }
    }
    .works {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: min(6rem, 6vw) 0;
        width: 100%;
        img {
            display: block;
            object-fit: contain;
            object-position: center;
            // width: 30rem;
            width: calc(50% - min(3rem, 6vw));
            border-radius: 1rem;
            cursor: pointer;
            transition: transform 0.5s;
        }
        img:hover {
            transform: translateY(-0.5rem);
        }
    }
    .selectedWork {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 0%;
        background-color: #2228;
        pointer-events: none;
        transition: opacity 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        .box {
            position: relative;
            max-width: calc(min(90vw, 1200px) - 9rem);
            width: 65rem;
            background-color: #FFF;
            padding: 5rem 4rem 6rem 5rem;
            border-radius: 1rem;
            overflow: hidden;
            transform: translateY(-5vh);
            transition: transform 0.5s;
            h5 {
                margin: 0;
            }
            .authors {
                margin: 0.5em 0;
            }
            .content {
                display: flex;
                height: 21rem;
                gap: 1rem;
                .intro {
                    flex: 4;
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                    .tags {
                        display: flex;
                        gap: 1rem;
                        font-weight: 500;
                        .tag {
                            height: 1.8rem;
                            line-height: 1.8rem;
                            padding: 0 1.5em;
                            color: #4386F5;
                            border: 1px solid #4386F5;
                            border-radius: 0.9rem;
                        }
                    }
                    .context {
                        font-weight: 400;
                        overflow-y: auto;
                    }
                    .links {
                        display: flex;
                        gap: 1rem;
                        margin-top: auto;
                        font-weight: 500;
                        a {
                            display: flex;
                            align-items: center;
                            gap: 0.2em;
                            height: 2.5rem;
                            padding: 0 1.5em;
                            border: 2px solid #676C72;
                            border-radius: 1.25rem;
                            color: #676C72;
                            text-decoration: none;
                            .ms {
                                padding-top: 0.2em;
                                font-size: 1.15em;
                            }
                        }
                    }
                }
                .imgBlock {
                    flex: 5;
                    overflow: hidden;
                    margin: auto;
                    img {
                        display: block;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .close {
                position: absolute;
                top: 1.6rem;
                right: 1.75rem;
                height: 2.6rem;
                width: 2.6rem;
                line-height: 2.6rem;
                text-align: center;
                font-weight: 900;
                font-size: 1.5rem;
                border: 0.35rem solid #000;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .selectedWork[data-show="true"] {
        pointer-events: initial;
        opacity: 100%;
        .box {
            transform: translateY(0);
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    #projects {
        h3{
            font-size: x-large;
        }
        .banner {
            padding-bottom: 0rem; 
            padding-top: 4rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .banner .context {
            position: static;
            // bottom: 1rem;
            // left: 1.5rem;
            padding: 0.25rem;
            background-color: #2B2B2BA0;
            h5 {
                font-size: 18px;
            }
            > div {
                width: calc(100% + 0.5rem);
            }
        }
        .normal {
            font-size: 12px;
        }
        .selectedWork > .box {
            max-width: calc(min(90vw, 1200px) - 5rem);
            width: 65rem;
            padding: 2rem 2rem 2rem 2rem;
            border-radius: 1rem;
            h5{
                font-size: large;
            }
            .close{
                top: 1rem;
                right: 0.8rem;
                height: 1.5rem;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                font-weight: 900;
                font-size: 1rem;
                border: 0.2rem solid #000;
                border-radius: 50%;

            }
            > .content {
                flex-direction: column-reverse;
                height: 29.5rem;
                .intro {
                    height: 16.5rem;
                }
                .small{
                    font-size: smaller;
                }
                .imgBlock {
                    height: 12rem;
                    width: 100%;
                    img {
                        // display: block;
                        object-fit: contain;
                        object-position: left;
                        height: 100%;
                        margin-left: 0;
                    }
                }
                .links{
                    font-size: x-small;
                }
                .tags{
                    font-size: x-small;
                }
            }
        }
    }
}
